* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: #40a390;
}

a:hover {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}


/********header*********/

header {
    text-align: center;
}


/********main***********/

.section_rotation {
    position: relative;
}

.rotation_banner_top {
    font-size: 18px;
    line-height: 35px;
    padding: 10px 20px;
    background-color: #ffffff;
}

.rotation_banner_middle {
    font-size: 16px;
    line-height: 35px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: black;
}

.rotation_banner_bottom {
    font-size: 14px;
    line-height: 35px;
    padding: 10px 20px;
    text-align: right;
    color: #a4a4a4;
}

.section_subscribe {
    padding-top: 15px;
    padding-bottom: 25px;
}

.subscribe_description {
    min-height: 50px;
    padding-top: 6px;
}

.subscribe_container {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.section_article {
    font-size: 18px;
}

.section_article>article {
    padding: 15px;
}

.section_article h3 {
    line-height: 70px;
    margin-bottom: 0;
}

.main_artical_img {
    padding: 15px;
    border: 1px solid #cccccc;
}

.btn-subscribe {
    border: 1px solid #cccccc;
}

.article-img {
    width: 100%;
    height: 100%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tabs li {
    flex: 1 1 auto;
    text-align: center;
}

.tabs a {
    display: block;
    padding: 15px 20px;
    background-color: #eff8f7;
}

.tabs a:hover {
    background-color: #d9efec;
}


/************footer************/

.footer {
    border-top: 1px solid #cccccc;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #cccccc;
}

.social_media {
    text-align: right;
}

.social_media>i {
    padding: 0 8px;
    font-size: 3em;
}

@media (max-width: 575.98px) {
    /*********header********/
    .menu {
        position: relative;
        width: 100%;
        top: -255px;
        margin: 0;
    }
    .menu a {
        font-size: 16px;
        line-height: 58px;
    }
    .logo {
        top: 376px;
        display: block;
        position: relative;
        padding: 30px 0;
    }
    .nav {
        justify-content: center;
        border-bottom: 1px solid #cccccc;
    }
    /*********main********/
    .rotation_banner_bottom {
        border-bottom: 1px dashed #cccccc;
    }
    /*********footer******/
    .social_media>i {
        padding: 0 3px;
        font-size: 2em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /*********header*********/
    .menu {
        position: relative;
        width: 100%;
        top: -255px;
    }
    .menu a {
        font-size: 16px;
        line-height: 58px;
    }
    .logo {
        top: 76px;
        display: block;
        position: relative;
        padding: 30px 0;
    }
    .nav {
        justify-content: center;
        border-bottom: 1px solid #cccccc;
    }
    /*********main*********/
    .rotation_banner_bottom {
        border-bottom: 1px dashed #cccccc;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    /*********header*********/
    .logo {
        padding: 15px 0;
    }
    .menu a {
        font-size: 16px;
        line-height: 28px;
    }
    .nav {
        padding-top: 33px;
        justify-content: flex-end;
    }
    .header {
        max-height: 135px;
    }
    .logo_img {
        width: 120px;
        height: 110px;
    }
    /*********main*********/
    .rotation_banner {
        position: absolute;
        top: 55%;
        width: 95%;
    }
    .rotation_banner_top {
        width: 200px;
    }
    .rotation_banner_middle {
        width: 480px;
    }
    .rotation_banner_bottom {
        line-height: 14px;
        padding: 4px;
        background-color: #f0f0f0;
        width: 160px;
        text-align: center;
        color: #5a5a5a;
        position: absolute;
        right: 25px;
        bottom: 65px;
    }
    .rotation_banner_bottom:after {
        content: "";
        clear: both;
    }
    .subscribe_container {
        padding-bottom: 0;
    }
    .section_article h3 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        flex-direction: row;
        padding-top: 70px;
    }
    /*********header*******/
    .header {
        max-width: 400px;
    }
    .header div {
        justify-content: left;
    }
    .logo_img {
        width: 130px;
        height: 130px;
        padding: 10px 0 10px 10px;
    }
    .nav-item {
        display: flex;
        padding-top: 10px;
    }
    .menu {
        padding-left: 28px;
        padding-right: 0;
    }
    .header_tweet {
        text-align: left;
        padding-left: 28px;
    }
    .btn-tweet {
        background-color: none;
        border: 1px solid #cccccc;
        color: #1d9d73;
    }
    .header_tweet h5 {
        border-bottom: 1px dotted #cccccc;
        margin-bottom: 15px;
    }
    /*********main*********/
    .rotation_banner {
        position: absolute;
        top: 55%;
        width: 95%;
    }
    .rotation_banner_top {
        width: 200px;
    }
    .rotation_banner_middle {
        width: 480px;
    }
    .rotation_banner_bottom {
        line-height: 14px;
        padding: 4px;
        background-color: #f0f0f0;
        width: 160px;
        text-align: center;
        color: #5a5a5a;
        position: absolute;
        right: 25px;
        bottom: 65px;
    }
    .rotation_banner_bottom:after {
        content: "";
        clear: both;
    }
    .subscribe_container {
        padding-bottom: 0;
    }
    .section_article h3 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}